<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-products-col">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 action-btns no-border" style="padding: 0; margin-bottom: 15px;">
            <button class="btn" ui-sref="search.apps.list"><i class="fa fa-chevron-left"></i> Go Back</button>
        </div>
    </div>
</div>
<div class="profile-detail home-detail col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-sec no-bottom-margin">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="profile-image">
                <div class="item-image-div">
                </div>
            </div>
            <div class="text-center">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span>4.46/255</span>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 user-details">
            <h3 class="profile-name"><a href="">LEAPes CRM for Findoo</a> <a href="" class="seal">Verified</a> <a href="" class="seal">Trusted</a></h3>
            <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <ul class="row pockets no-border no-top-margin">
                <li class="col-md-12">
                    <a href="">Pocket 1</a>
                    <a href="">Pocket 2</a>
                    <a href="">Pocket 3</a>
                    <a href="">Pocket 4</a>
                    <a href="">Pocket 5</a>
                    <a href="">Pocket 6</a>
                </li>
            </ul>
            <a href="">More...</a>
            <div class="address no-border no-top-margin">
                <span class="fa fa-map-marker blue-color"></span> &nbsp;
                <address>4.7 Kms Away </address>
            </div>
            <ul class="row review-section action-btns profile-action-btns">
                <li>
                    <button class="btn"><i class="fa fa-eye"></i> View (265)</button>
                </li>
                <li>
                    <button class="btn"><i class="fa fa-map-marker"></i> Track (265)</button>
                </li>
                <li>
                    <button class="btn"><i class="fa fa-hand-o-right"></i> Refer (265)</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-tab top-tab col-lg-12 col-md-12 col-sm-12 col-xs-12 home-inner-tabs">
        <div class="tab-section">
            <ul class="nav nav-tabs main-nav" role="tablist" ng-init="innerTab = 1">
                <li role="presentation" ng-class="{'active': innerTab == 1}"><a href="" ng-click="innerTab = 1" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 2}"><a href="" ng-click="innerTab = 2" aria-controls="profile" role="tab" data-toggle="tab">Posts</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 3}"><a href="" ng-click="innerTab = 3" aria-controls="messages" role="tab" data-toggle="tab">Resources</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 4}"><a href="" ng-click="innerTab = 4" aria-controls="messages" role="tab" data-toggle="tab">Events</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 5}"><a href="" ng-click="innerTab = 5" aria-controls="messages" role="tab" data-toggle="tab">Jobs</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 6}"><a href="" ng-click="innerTab = 6" aria-controls="messages" role="tab" data-toggle="tab">Reviews</a></li>
            </ul>
        </div>
        <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12 slider-col no-padding">
            <!-- About Tab Starts -->
            <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding inner-tab about-tab-content" ng-class="{'active': innerTab == 1}">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 desc-heading">
                    <h4>Description</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 desc-media-col">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 description-col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 media-col">
                        <div></div>
                    </div>
                </div>
            </div>
            <!-- About Tab Ends -->
            <!-- Posts Tab Starts -->
            <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding inner-tab" ng-class="{'active': innerTab == 2}">
            </div>
            <!-- Posts Tab Ends -->
            <!-- Resources Tab Starts -->
            <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding inner-tab" ng-class="{'active': innerTab == 3}">
            </div>
            <!-- Resources Tab Ends -->
            <!-- Events Tab Starts -->
            <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding inner-tab" ng-class="{'active': innerTab == 4}">
            </div>
            <!-- Events Tab Ends -->
            <!-- Jobs Tab Starts -->
            <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding inner-tab" ng-class="{'active': innerTab == 5}">
            </div>
            <!-- Jobs Tab Ends -->
            <!-- Reviews Tab Starts -->
            <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding inner-tab" ng-class="{'active': innerTab == 6}">
            </div>
            <!-- Reviews Tab Ends -->
        </div>
    </div>
</div>
