<div class="row header-sec">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 search-sec-top width-lg logo-col">
        <!-- <h1 class="logo-main"><span>Findoo</span></h1> -->
        <!-- <img src="../app/images/logo-main.png" ui-sref="home"> -->
        <span class="logo-text" ui-sref="home">findoo</span>
        <!-- <button type="button" ng-click="showNav=!showNav" class="btn header-bar hidden-sm" data-animation="am-slide-left" data-placement="left" bs-aside="aside"><span class="fa fa-bars"></span></button> -->
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 search-sec-top width-lg-search" style="padding: 5px 0 0;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn search-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
        <!-- /input-group -->
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 header-right-sec">
        <!-- Logged Out User icons Starts -->
        <!-- <ul class="header-right clearfix logged-out-user">
            <li class="menu-icon">
                <a href="#">
                    <span aria-hidden="true" class="glyphicon glyphicon-th"></span>
                </a>
            </li>
            <li class="menu-icon sign-in-li">
                <a ui-sref="account">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign In
                </a>
            </li>
            <li class="menu-icon lang-li">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> English <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </li>
            <li><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></li>
        </ul> -->
        <!-- Logged Out User Icons Ends -->
        <!-- Logged In User Icons Starts -->
        <ul class="header-right clearfix">
            <li class="menu-icon">
                <a href="#">
                    <span aria-hidden="true" class="glyphicon glyphicon-th"></span>
                </a>
            </li>
            <li ui-sref="notification.list" class="hover-li">
                <!-- <a href="" class="icon-alert"> -->
                <i class="fa fa-newspaper-o alerts">
                    <span class="count">2</span>
                </i>
                <!-- </a> -->
                <!-- Notifiction Popup div Starts -->
                <div class="noti-div notifications-popup for-hover">
                    <div class="heading">
                        <h5>Feed 
                        <a href="" class="pull-right">Settings</a>
                        <a href="" class="pull-right">Mark All as Read - </a> 
                        </h5>
                    </div>
                    <div class="notifications">
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-chevron-down right-icons"></i>
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Lorem Ipsum</b> is a dummy text and Notification is dummy for now.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-chevron-down right-icons"></i>
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Lorem Ipsum</b> is a dummy text and Notification is dummy for now.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-chevron-down right-icons"></i>
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Lorem Ipsum</b> is a dummy text and Notification is dummy for now.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-chevron-down right-icons"></i>
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Lorem Ipsum</b> is a dummy text and Notification is dummy for now.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-chevron-down right-icons"></i>
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Lorem Ipsum</b> is a dummy text and Notification is dummy for now.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-chevron-down right-icons"></i>
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Lorem Ipsum</b> is a dummy text and Notification is dummy for now.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-chevron-down right-icons"></i>
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Lorem Ipsum</b> is a dummy text and Notification is dummy for now.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-chevron-down right-icons"></i>
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Lorem Ipsum</b> is a dummy text and Notification is dummy for now.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                    </div>
                    <div class="see-all-btn-div text-center" ui-sref="notification.list">
                        <a href="">See All</a>
                    </div>
                </div>
                <!-- Notifiction Popup Div Ends -->
            </li>
            <li ui-sref="message.list" class="hover-li">
                <a href="" class="icon-message">
                    <span class="count">2</span>
                </a>
                <!-- Message Popup div Starts -->
                <div class="noti-div message-popup notifications-popup for-hover">
                    <div class="heading">
                        <h5>Messages 
                        <a href="" class="pull-right">New Message </a> 
                        <a href="" class="pull-right">Mark All as Read - </a> 
                        </h5>
                    </div>
                    <div class="notifications">
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Bhavesh Vora</b></p>
                                <p class="text" style="color: #777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <!-- <img src="../../app/images/bhavesh-vora.jpg" class="pull-left"> -->
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Ankit Jiwani</b></p>
                                <p class="text" style="color: #777"><i class="fa fa-reply"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Bhavesh Vora</b></p>
                                <p class="text" style="color: #777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <!-- <img src="../../app/images/bhavesh-vora.jpg" class="pull-left"> -->
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Ankit Jiwani</b></p>
                                <p class="text" style="color: #777"><i class="fa fa-reply"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Bhavesh Vora</b></p>
                                <p class="text" style="color: #777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <!-- <img src="../../app/images/bhavesh-vora.jpg" class="pull-left"> -->
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Ankit Jiwani</b></p>
                                <p class="text" style="color: #777"><i class="fa fa-reply"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Bhavesh Vora</b></p>
                                <p class="text" style="color: #777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <!-- <img src="../../app/images/bhavesh-vora.jpg" class="pull-left"> -->
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><b>Ankit Jiwani</b></p>
                                <p class="text" style="color: #777"><i class="fa fa-reply"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p>
                            </div>
                        </div>
                    </div>
                    <div class="see-all-btn-div text-center" ui-sref="message.list">
                        <a href="">See All</a>
                    </div>
                </div>
                <!-- Message Popup Div Ends -->
            </li>
            <li ui-sref="contacts" class="hover-li">
                <a href="" class="icon-group">
                    <span class="count">2</span>
                </a>
                <!-- Diary Popup div Starts -->
                <div class="noti-div message-popup notifications-popup diary-popup for-hover">
                    <div class="heading">
                        <h5>Diary 
                        <a href="" class="pull-right">Settings</a>
                        <a href="" class="pull-right">Find Contacts - </a>
                        </h5>
                    </div>
                    <div class="notifications request-accept">
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i>
                                <p class="text"><span><b>Bhavesh Vora </b> has been accepted your request.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="heading request-header">
                        <h5>Contact Requests 
                        <a href="" class="pull-right">See All</a>
                        </h5>
                    </div>
                    <div class="notifications">
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <!-- <i class="fa fa-chevron-down right-icons"></i> -->
                                <!-- <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i> -->
                                <p class="text"><span class="request-text"><b>Bhavesh Vora</b> and 6 others have sent you request</span>
                                    <i class="fa fa-check"></i>
                                    <i class="fa fa-times"></i>
                                    <i class="hold" data-toggle="tooltip" data-placement="top" title="Not Now">||</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="heading request-header">
                        <h5>People you may Know 
                        <a href="" class="pull-right">See All</a>
                        </h5>
                    </div>
                    <div class="notifications">
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <!-- <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i> -->
                                <p class="text"><b>Bhavesh Vora</b></p>
                                <p class="text" style="color: #777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <!-- <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="notifications">
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <!-- <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i> -->
                                <p class="text"><b>Bhavesh Vora</b></p>
                                <p class="text" style="color: #777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <!-- <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="notifications">
                        <div class="notifications-div">
                            <div class="image-div">                    
                                <img src="../../app/images/bhavesh-vora.jpg" class="pull-left">
                            </div>
                            <div class="notification-text">
                                <!-- <i class="fa fa-circle-thin right-icons" data-toggle="tooltip" data-placement="top" title="Mark As Read"></i> -->
                                <p class="text"><b>Bhavesh Vora</b></p>
                                <p class="text" style="color: #777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <!-- <p class="date-time"><i class="fa fa-clock-o"></i> May 24, 2016 at 05:30pm</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="heading request-header">
                        <h5>Add Contacts</h5>
                    </div>
                    <div class="social-div text-center">
                        <a href="">Gmail</a>
                        <a href="">Yahoo</a>
                        <a href="">Hotmail</a>
                        <a href="">Other</a>
                    </div>
                </div>
                <!-- Diary Popup Div Ends -->
            </li>
            <li class="user-info">
                <span class="user-profile-pic cursor-pointer" ng-click="showProfile()"></span>
                <div class="btn-group" dropdown is-open="isopen">
                    <button type="button" class="btn btn-user-info" dropdown-toggle ng-disabled="disabled"></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a>Action</a></li>
                        <li><a>Another action</a></li>
                        <li><a>Something else here</a></li>
                        <li><a>Separated link</a></li>
                    </ul>
                </div>
            </li>
            <li ng-click="showOtherLinks()" class="cursor-pointer"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></li>
        </ul>
        <!-- Logged In User Icons Ends -->
        <!-- Profile Popup div Starts -->
        <div class="noti-div profile-popup" ng-show="show_profile">
            <div class="prof-div">
                <div class="image-div">
                    <img src="">
                </div>
                <div class="text-div">
                    <h5>Ankit jiwani</h5>
                    <p>ankit.jiwani92@gmail.com</p>
                    <button class="btn btn-primary" ui-sref="myprofile.user">My Account</button>
                </div>
            </div>
            <div class="sign-out">
            <button class="btn btn-default pull-left">Settings</button>
                <button class="btn btn-default">Sign out</button>
            </div>
        </div>
        <!-- Profile Popup Div Ends -->
        <!-- Other Links Popup Div Starts -->
        <div class="noti-div message-popup notifications-popup other-links" ng-show="show_other_links">
            <div class="heading">
                <h5>About</h5>
            </div>
            <div class="heading">
                <h5>Business</h5>
            </div>
            <div class="heading">
                <h5>Advertise</h5>
            </div>
            <div class="heading">
                <h5>Support</h5>
            </div>
            <div class="heading">
                <h5>Privacy</h5>
            </div>
            <div class="heading">
                <h5>Terms</h5>
            </div>
        </div>
        <!-- Other Links Popup Div Ends -->
    </div>
</div>
<!-- <div class="row subheader-row notification-subheader">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 width-lg">
        <ul class="nav nav-tabs main-nav visible-sm">
            <li class="body-nav">
                <button type="button" ng-click="showNav=!showNav" class="btn" data-animation="am-slide-left" data-placement="left" bs-aside="aside" style="padding: 8px 15px;"><span class="fa fa-bars"></span></button>
            </li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 no-padding width-subheader-lg">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 action-btns">
            <button class="btn"><i class="fa fa-pencil-square-o"></i>&nbsp; Post</button>
            <button class="btn"><i class="fa fa-plus-square-o"></i>&nbsp; Add</button>
            <button class="btn"><i class="fa fa-upload"></i>&nbsp; Upload</button>
            <button class="btn"><i class="fa fa-cloud-download"></i>&nbsp; Import</button>
        </div>
    </div>
</div> -->
<div class="row main-wrapper" style="background: #ffffff;">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs animated width-lg main-sidebar-col" ng-class="{fadeInLeft: showNav, fadeOutLeft: !showNav}">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default module-header-panel">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-users"></i>&nbsp; Feed</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title" ng-click="sidebarAccor2 = !sidebarAccor2"><a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">Time Track</a><i class="fa fa-chevron-down" ng-class="{'rotate-arrow': !sidebarAccor2}"></i></h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{'in': sidebarAccor2}">
                    <div class="panel-body">
                        <p><a href="">Public</a></p>
                        <p><a href="">Me</a></p>
                        <p><a href="">Contacts</a></p>
                        <p><a href="">List</a></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title" ng-click="sidebarAccor3 = !sidebarAccor3"><a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">Tracking</a><i class="fa fa-chevron-down" ng-class="{'rotate-arrow': !sidebarAccor3}"></i></h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{'in': sidebarAccor3}">
                    <div class="panel-body">
                        <p><a href="">Option 1</a></p>
                        <p><a href="">Option 2</a></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title" ng-click="sidebarAccor7 = !sidebarAccor7"><a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">Notifications</a><i class="fa fa-chevron-down" ng-class="{'rotate-arrow': !sidebarAccor7}"></i></h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{'in': sidebarAccor7}">
                    <div class="panel-body">
                        <p><a href="">Option 1</a></p>
                        <p><a href="">Option 2</a></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title" ng-click="sidebarAccor5 = !sidebarAccor5"><a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">Settings</a><i class="fa fa-chevron-down" ng-class="{'rotate-arrow': !sidebarAccor5}"></i></h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{'in': sidebarAccor5}">
                    <div class="panel-body">
                        <p><a href="">Option 1</a></p>
                        <p><a href="">Option 2</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 width-lg-content">
        <ui-view></ui-view>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs main-right-sidebar">
        <div class="col-lg-12 col-md-12 col-sm-12 search-list-col">
            <h4>Last 5 Search</h4>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 trending-pockets">
            <h4>Trending Pockets</h4>
        </div>
    </div>
</div>
