<div class="row header-sec">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 search-sec-top width-lg logo-col">
        <!-- <h1 class="logo-main"><span>Findoo</span></h1> -->
        <!-- <img src="../app/images/logo-main.png" ui-sref="home"> -->
        <span class="logo-text" ui-sref="home">findoo</span>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 search-sec-top width-lg-search" style="padding: 5px 0 0;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn search-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
        <!-- /input-group -->
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 header-right-sec">
        <!-- Logged Out User icons Starts -->
        <!-- <ul class="header-right clearfix logged-out-user">
            <li class="menu-icon">
                <a href="#">
                    <span aria-hidden="true" class="glyphicon glyphicon-th"></span>
                </a>
            </li>
            <li class="menu-icon sign-in-li">
                <a ui-sref="account">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign In
                </a>
            </li>
            <li class="menu-icon lang-li">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> English <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </li>
            <li><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></li>
        </ul> -->
        <!-- Logged Out User Icons Ends -->
        <!-- Logged In User Icons Starts -->
        <ul class="header-right clearfix">
            <li class="menu-icon">
                <a href="#">
                    <span aria-hidden="true" class="glyphicon glyphicon-th"></span>
                </a>
            </li>
            <li>
                <a href="" class="icon-alert">
                    <span class="count">2</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon-message">
                    <span class="count">2</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon-group">
                    <span class="count">2</span>
                </a>
            </li>
            <li class="user-info">
                <span class="user-profile-pic cursor-pointer" ng-click="notiShow()"></span>
                <div class="btn-group" dropdown is-open="isopen">
                    <button type="button" class="btn btn-user-info" dropdown-toggle ng-disabled="disabled"></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a>Action</a></li>
                        <li><a>Another action</a></li>
                        <li><a>Something else here</a></li>
                        <li><a>Separated link</a></li>
                    </ul>
                </div>
            </li>
            <li><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></li>
        </ul>
        <!-- Logged In User Icons Ends -->
        <!-- notification div -->
        <div class="noti-div" ng-show="show_noti">
            <div class="prof-div">
                <div class="image-div">
                    <img src="">
                </div>
                <div class="text-div">
                    <h5>Ankit jiwani</h5>
                    <p>ankit.jiwani92@gmail.com</p>
                    <button class="btn btn-primary" ui-sref="myprofile.user">My Account</button>
                </div>
            </div>
            <div class="sign-out">
                <button class="btn btn-default">Sign out</button>
            </div>
        </div>
    </div>
</div>
<div class="row subheader-row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 width-lg">
        <ul class="nav nav-tabs main-nav">
            <li class="body-nav">
                <button type="button" ng-click="showNav=!showNav" class="btn" data-animation="am-slide-left" data-placement="left" bs-aside="aside" style="padding: 8px 15px;"><span class="fa fa-bars"></span></button>
            </li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 no-padding width-subheader-lg">
        <ul class="nav nav-tabs main-nav">
            <li active-state="search.home" ui-sref="search.home" class="active"><a>Home</a></li>
            <li active-state="search.profiles" ui-sref="search.profiles" class="active"><a>Profiles</a></li>
            <li active-state="search.products" ui-sref="search.products" class="active"><a>Products</a></li>
            <li active-state="search.services" ui-sref="search.services" class="active"><a>Services</a></li>
            <li active-state="search.posts" ui-sref="search.posts" class="active"><a>Posts</a></li>
            <li active-state="search.resources" ui-sref="search.resources" class="active"><a>Resources</a></li>
            <li active-state="search.events" ui-sref="search.events" class="active"><a>Events</a></li>
            <li active-state="search.jobs" ui-sref="search.jobs" class="active"><a>Jobs</a></li>
            <li active-state="search.apps" ui-sref="search.apps" class="active"><a>Apps</a></li>
            <li class="body-nav pull-right">
                <button type="button" class="btn" style="padding: 8px 15px;">
                    <span class="fa fa-cog"></span>
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="row main-wrapper" style="background: #ffffff;">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs left-panel animated width-lg" ng-class="{fadeInLeft: showNav, fadeOutLeft: !showNav}">
        <div class="side-column">
            <div class="nav-section">
                <div class="side-nav-title">
                    <h3>Account</h3>
                </div>
                <ul>
                    <li class="active" active-state="myprofile.user" ui-sref="myprofile.user"><a >User</a></li>
                    <li class="active" active-state="myprofile.detail" ui-sref="myprofile.detail"><a href="">Profile</a></li>
                    <li class="active" active-state="myprofile.entity" ui-sref="myprofile.entity"><a href="">Entity</a></li>
                    <li class="active" active-state="myprofile.extention" ui-sref="myprofile.extention"><a href="">Extention</a></li>
                </ul>
            </div>
        </div>
        
        <div class="side-column">
            <div class="nav-section">
                <div class="side-nav-title">
                    <h3>Settings</h3>
                </div>
                <ul>
                    <li class="active" active-state="myprofile.settings" ui-sref="myprofile.settings"><a href="">General</a></li>
                    <li ui-sref=""><a href="">Privacy</a></li>
                    <li ui-sref=""><a href="">Notification</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 width-lg-content">
        <ui-view></ui-view>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs main-right-sidebar">
        <div class="col-lg-12 col-md-12 col-sm-12 search-list-col">
            <h4>Last 5 Search</h4>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
            <div class="search-list-div">
                <p><span>10 mins ago | </span> Lorem Ipsum is dummy text. Lorem Ipsum is lorem.</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 trending-pockets">
            <h4>Trending Pockets</h4>
        </div>
    </div>
</div>
