<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-home-col">
    <h4>Search Results <a href=""><i class="fa fa-chevron-left"></i>&nbsp; Go back</a></h4>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slider-col no-padding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs main-nav" role="tablist" ng-init="innerTab = 1">
                <li role="presentation" ng-class="{'active': innerTab == 1}"><a href="" ng-click="innerTab = 1" aria-controls="home" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 2}"><a href="" ng-click="innerTab = 2" aria-controls="profile" role="tab" data-toggle="tab">Products</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 3}"><a href="" ng-click="innerTab = 3" aria-controls="messages" role="tab" data-toggle="tab">Services</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 4}"><a href="" ng-click="innerTab = 4" aria-controls="settings" role="tab" data-toggle="tab">Posts</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 5}"><a href="" ng-click="innerTab = 5" aria-controls="home" role="tab" data-toggle="tab">Resources</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 6}"><a href="" ng-click="innerTab = 6" aria-controls="profile" role="tab" data-toggle="tab">Events</a></li>
                <li role="presentation" ng-class="{'active': innerTab == 7}"><a href="" ng-click="innerTab = 7" aria-controls="messages" role="tab" data-toggle="tab">Jobs</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding inner-tab" ng-class="{'active': innerTab == 1}">
                    <p class="found-p">Found 23k results in 0.46 minutes</p>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 results">
                        <p><a href="">Latest</a></p>
                        <p><a href="">Popular</a></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 results">
                        <p class="bold-font">Individuals : <a href="" class="pull-right">2356</a></p>
                        <p class="bold-font">Entities : <a href="" class="pull-right">589</a></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 results">
                        <p class="bold-font">
                            < 500 Views : <a href="" class="pull-right">742</a>
                        </p>
                        <p class="bold-font">
                            < 500 Wows : <a href="" class="pull-right">256</a>
                        </p>
                        <p class="bold-font">
                            < 500 Refers : <a href="" class="pull-right">62</a>
                        </p>
                        <p class="bold-font">
                            < 500 Reviews : <a href="" class="pull-right">9</a>
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 action-btns">
                        <button class="btn">See Results</button>
                        <button class="btn" ng-click="showAdvanceSearch = !showAdvanceSearch">Search Advance</button>
                        <button class="btn">Browse catalog</button>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hide-advance advance-search-col no-padding" ng-class="{'show-advance': showAdvanceSearch}">
                        <h4>Advance Search</h4>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Item</label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Category</label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Location</label>
                                <div class="col-sm-3">
                                    <select class="form-control">
                                        <option>Country</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 no-padding">
                                    <select class="form-control">
                                        <option>State</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>City</option>
                                        <option>Lorem Ipsum</option>
                                        <option>Lorem Ipsum</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Pincode</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="Pincode" class="form-control">
                                </div>
                            </div>
                            <div class="form-group radio-div">
                            	<div class="col-sm-10 col-sm-offset-2">
	                                <input type="radio" name="option"> <span>Title</span>
	                                <input type="radio" name="option"> <span>Body</span>
	                                <input type="radio" name="option"> <span>Tag</span>
                            	</div>
                            </div>
                            <div class="form-group radio-div">
                                <label class="col-sm-2 control-label">Content</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                            	<div class="col-sm-10 col-sm-offset-2">
                                	<input type="radio" name="option"> <span style="vertical-align: text-bottom;">With Attachment</span>
                            	</div>
                            </div>
                            <div class="action-btns">
                                <button class="btn">Search</button>
                                <button class="btn">Reset</button>
                                <button class="btn">Browse</button>
                                <i class="fa fa-question-circle cursor-pointer"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-class="{'active': innerTab == 2}">Products</div>
                <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-class="{'active': innerTab == 3}">Services</div>
                <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-class="{'active': innerTab == 4}">Posts</div>
                <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-class="{'active': innerTab == 5}">Resources</div>
                <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-class="{'active': innerTab == 6}">Events</div>
                <div role="tabpanel" class="tab-pane fade in col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-class="{'active': innerTab == 7}">Jobs</div>
            </div>
        </div>
    </div>
</div>
