<!--top navigation -->

<div class="menu-left">
    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
</div>

<div class="menu-right">
    <a href="#"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> My Account</a> | 
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> English <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
</div>
<!--top navigation end-->

<!--Search Section -->
<div class="row">
    <div class="col-md-12">
        <div class="text-center search-window">
          <h1 class="logo"><span>Findoo</span></h1>
          <div class="input-group search-section">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile <span class="glyphicon glyphicon-menu-down"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div><!-- /btn-group -->
              <input type="text" class="form-control" aria-label="..." placeholder="Click here to Start Financing...">
              <span class="input-group-btn go">
                <button class="btn btn-primary" ui-sref="search.apps.list"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
          </div><!-- /input-group -->
        </div>
    </div>
</div>
<div class="home-column">
    <div class="row">
        <div class="col-md-4">
            <span class="profile-icon box"></span>
            <h3>Profile</h3>
            <p>Create and manage multiple profiles related to single account and swap it under hood to use as you like</p>
            <a href="#">Read More</a>
        </div>
        <div class="col-md-4">
            <span class="network-icon box"></span>
            <h3>Network</h3>
            <p>Create and manage your community. You may organize and map them to the last mile if you wish</p>
            <a href="#">Read More</a>
        </div>
        <div class="col-md-4">
            <span class="post-icon box"></span>
            <h3>Post</h3>
            <p>Publish your post to desired privacy level and stay informed of the response through notifications and analytics</p>
            <a href="#">Read More</a>
        </div>
    </div>
</div>
<!--Search Section end-->

<!--footer Section -->


<div class="footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills">
              <li role="presentation"><a href="#">About</a></li>
              <li role="presentation"><a href="#">Business</a></li>
              <li role="presentation"><a href="#">Advertise</a></li>
            </ul>
        </div>
        <div class="col-md-6 text-center copy">
            <span>&copy; 2015 Findoo</span>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-right">
              <li role="presentation"><a href="#">Support</a></li>
              <li role="presentation"><a href="#">Privacy</a></li>
              <li role="presentation"><a href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</div>


<!--Search Section End-->
