<div class="row account-row">
    <!-- Login and sigup Section Starts -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center account-window">
            <h1 class="logo" ui-sref="home"><span>Findoo</span></h1>
            <h2>Forgot password</h2>
            <p>Now, experience social approach in finance!</p>
            <div class="tab-section">
                <!-- Tab panes -->
                <div class="tab-content clearfix">
                    <div role="tabpanel" class="tab-pane register active" id="register">
                        <form name="forgotForm" ng-submit="!forgotForm.$invalid && doResetPassword()" novalidate>
                            <h3 class="pull-left">Get Started - it's free</h3>
                            <a href="#" class="pull-right">Need Help?</a>
                            <span class="clearfix"></span>
                            <div>
                                <div class="form-group" ng-class="{'has-error' : forgotForm.email.$error.required && forgotForm.email.$dirty}" style="margin-right:2%;">
                                    <label class="sr-only" for="">Email</label>
                                    <input type="email" class="form-control" name="email" placeholder="Email" ng-required="forgotForm.email" ng-model="forgot.email">
                                </div>
                            </div>
                            <button type="submit" ng-disabled="forgotForm.$invalid" class="btn btn-default btn-submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer navbar-fixed-bottom">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Business</a></li>
                <li role="presentation"><a href="#">Advertise</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center copy no-padding">
            <span>&copy; 2015 Findoo</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
            <ul class="nav nav-pills nav-right">
                <li role="presentation"><a href="#">Support</a></li>
                <li role="presentation"><a href="#">Privacy</a></li>
                <li role="presentation"><a href="#">Terms</a></li>
            </ul>
        </div>
    </div>
    <!-- Footer Section Ends -->
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
<!-- Window height -->
<script>
$(document).ready(function() {
    function setHeight() {
        windowHeight = $(window).innerHeight();
        $('.account-row').css('min-height', windowHeight);
    };
    setHeight();
    $(window).resize(function() {
        setHeight();
    });
});
</script>
