<div class="extention container-fluid">
    <div class="row profile-entity-list">
        <div class="col-md-2">
            <div class="profile-image">
                <img src="app/images/bhavesh-vora.jpg" alt="placeholder" data-pin-nopin="true">
            </div>
        </div>
        <div class="col-md-10">
            <ul class="created-entity clearfix">
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
            </ul>
        </div>
    </div>
    
</div>

<div class="user-detail container-fluid settings">
    <div class="section-detail row">
        <div class="col-md-6">
            <h3>Admin</h3>
            <div>
                <input type="radio" name="" id=""> <label>Profile Name</label>
                <input type="radio" name="" id=""> <label>Profile Name1</label>
            </div>
        </div>
        <div class="col-md-6 edit-section">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="edited-status">Last changed 01-12-2015 | 9:00pm</span>
        </div>
    </div>
    <div class="section-detail row">
        <div class="col-md-6">
            <h3>Legacy Namme</h3>
            <span>Profile Name | Relation</span>
            <a href="#">username</a> | <a href="#"> Relation</a>
        </div>
        <div class="col-md-6 edit-section">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="edited-status">Last changed 01-12-2015 | 9:00pm</span>
        </div>
    </div>
    
    <div class="section-detail row email-section">
        <div class="col-md-6">
            <h3>Geo Location </h3> 
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            <div class="input-group-btn" dropdown is-open="isopen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled"> <span class="glyphicon glyphicon-menu-down"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div><!-- /btn-group -->
            <span><strong>Permanent:</strong> Mumbai, Maharashtra, India | GMT + 5.30</span>
            <span><strong>Current:</strong> Pune, Maharashtra, India | GMT + 5.30</span>
        </div>
        <div class="col-md-6 edit-section">
            <span class="glyphicon glyphicon-edit"></span>
        </div>
    </div>
    
    <div class="section-detail row connect-section">
        <div class="col-md-6 ">
            <h3>Content</h3>
            <ul>
                <li><input type="checkbox" name="" id=""> <label>World</label></li>
                <li>
                    <input type="checkbox" name="" id=""> <label>Region</label>
                    <input type="radio" name="" id=""> <label>Region 1</label>
                    <input type="radio" name="" id=""> <label>Region 2</label>
                </li>
                <li>
                    <input type="checkbox" name="" id=""> <label>Country</label>
                    <input type="radio" name="" id=""> <label>Country 1</label>
                    <input type="radio" name="" id=""> <label>Country 2</label>
                </li>
            </ul>
        </div>
        <div class="col-md-6 edit-section">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="edited-status">Last changed 01-12-2015  | 9:00pm</span>
        </div>
    </div>
    
    <div class="section-detail row connect-section">
        <div class="col-md-6 ">
            <h3>Connect</h3>
            <ul>
                <li><input type="checkbox" name="" id=""> <label>Desktop - OS | MAC No</label></li>
                <li>
                    <input type="checkbox" name="" id=""> <label>Tab -OS | IMEI No</label>
                </li>
                <li>
                    <input type="checkbox" name="" id=""> <label>Mobile -OS | IMEI No</label>
                </li>
            </ul>
        </div>
        <div class="col-md-6 edit-section">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="edited-status">Last changed 01-12-2015  | 9:00pm</span>
        </div>
    </div>
    
    <div class="section-detail row">
        <div class="col-md-3 col-md-offset-9 edit-section">
            <button class="btn btn-default">Reset</button>
            
            <button class="btn btn-default btn-primary">Save</button>
        </div>
    </div>
</div>

<div class="container-fluid settings">
    
    <div class="main-tab">
        <div class="col-md-12 title-sec clearfix">
            <h3 class="pull-left">Privacy</h3>
            <div class="pull-right edit">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
        </div>
        <div class="tab-section">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Profile</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Feeds</a></li>
                <li><a href="#">Crate</a></li>
                <li><a href="#">Heap</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Events</a></li>
            </ul>
        
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-12 form-container">
                        <form>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">Who can find me?</label>
                                <div class="col-md-8">
                                  <select class="form-control"> <option value="">Default select</option> </select>
                                </div>
                            </div>
                            <div class="form-group spacing clearfix">
                                <label class="col-md-4 control-label">How can one find me?</label>
                                <div class="col-md-8">
                                  <select class="form-control"> <option value="">Default select</option> </select>
                                </div>
                            </div>
                            
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">Who can track me?</label>
                                <div class="col-md-8">
                                  <select class="form-control"> <option value="">Default select</option> </select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">Who can Connect with me?</label>
                                <div class="col-md-8">
                                  <select class="form-control"> <option value="">Default select</option> </select>
                                </div>
                            </div>
                            <div class="form-group spacing clearfix">
                                <label class="col-md-4 control-label">Who can Mentain me?</label>
                                <div class="col-md-8">
                                  <select class="form-control"> <option value="">Default select</option> </select>
                                </div>
                            </div>
                            
                            
                            
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">Who can view my post?</label>
                                <div class="col-md-8">
                                  <select class="form-control"> <option value="">Default select</option> </select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">Who can Wow my posts?</label>
                                <div class="col-md-8">
                                  <select class="form-control"> <option value="">Default select</option> </select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">Who can refer my posts?</label>
                                <div class="col-md-8">
                                  <select class="form-control"> <option value="">Default select</option> </select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">Who can track my posts?</label>
                                <div class="col-md-8">
                                  <select class="form-control"> <option value="">Default select</option> </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-default">Reset</button>
                        <button type="submit" class="btn btn-default btn-primary">Save</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-tab">
        <div class="col-md-12 title-sec clearfix">
            <h3 class="pull-left">Notification</h3>
            <div class="pull-right edit">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
        </div>
        <div class="tab-section">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Profile</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Feeds</a></li>
                <li><a href="#">Crate</a></li>
                <li><a href="#">Heap</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Events</a></li>
            </ul>
        
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-12 form-container">
                        <form>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">Complete ness</label>
                                <div class="col-md-4 col-md-offset-4">
                                  <select class="form-control"> <option value="">Mail Req</option> </select>
                                </div>
                            </div>
                            <div class="form-group spacing clearfix">
                                <label class="col-md-4 control-label">New Reports</label>
                                <div class="col-md-4 col-md-offset-4">
                                  <select class="form-control"> <option value="">Mail Req</option> </select>
                                </div>
                            </div>
                            
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">New Contact request</label>
                                <div class="col-md-4 col-md-offset-4">
                                  <select class="form-control"> <option value="">Mail Req</option> </select>
                                </div>
                            </div>
                            <div class="form-group spacing clearfix">
                                <label class="col-md-4 control-label">My Contact request accepted</label>
                                <div class="col-md-4 col-md-offset-4">
                                  <select class="form-control"> <option value="">Mail Req</option> </select>
                                </div>
                            </div>
                            
                            
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">New Viewers</label>
                                <div class="col-md-4 col-md-offset-4">
                                  <select class="form-control"> <option value="">Mail Req</option> </select>
                                </div>
                            </div>
                            
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">New Trackers</label>
                                <div class="col-md-4 col-md-offset-4">
                                  <select class="form-control"> <option value="">Mail Req</option> </select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">New Refers</label>
                                <div class="col-md-4 col-md-offset-4">
                                  <select class="form-control"> <option value="">Mail Req</option> </select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">New Reviews</label>
                                <div class="col-md-4 col-md-offset-4">
                                  <select class="form-control"> <option value="">Mail Req</option> </select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label">New Mentions</label>
                                <div class="col-md-4 col-md-offset-4">
                                  <select class="form-control"> <option value="">Mail Req</option> </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-default">Reset</button>
                        <button type="submit" class="btn btn-default btn-primary">Save</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

