<div class="footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills">
              <li role="presentation"><a href="#">About</a></li>
              <li role="presentation"><a href="#">Business</a></li>
              <li role="presentation"><a href="#">Advertise</a></li>
            </ul>
        </div>
        <div class="col-md-6 text-center copy">
            <span>&copy; 2015 Findoo</span>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-right">
              <li role="presentation"><a href="#">Support</a></li>
              <li role="presentation"><a href="#">Privacy</a></li>
              <li role="presentation"><a href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</div>