<!-- <div class="activity-cal">
        <ul class="top-controll">
            <li><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></li>
            <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></li>
            <li><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></li>
            <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
        </ul>
          <ul class="cal-controll">
            <li>&lt;Y</li>
            <li>&lt;M</li>
            <li>&lt;W</li>
            <li>31</li>
            <li>1</li>
            <li>2</li>
            <li class="selected">3</li>
            <li>W&gt;</li>
            <li>M&gt;</li>
            <li>Y&gt;</li>
        </ul>
        <ul class="logs">
            <li>12 min ago | You Viewed <a href="#">Bhavesh Vora‘s</a> Profile</li>
            <li>12 min ago | You Viewed <a href="#">Bhavesh Vora‘s</a> Profile</li>
            <li>12 min ago | You Viewed <a href="#">Bhavesh Vora‘s</a> Profile</li>
            <li>12 min ago | You Viewed <a href="#">Bhavesh Vora‘s</a> Profile</li>
            <li>12 min ago | You Viewed <a href="#">Bhavesh Vora‘s</a> Profile</li>
            <li>12 min ago | You Viewed <a href="#">Bhavesh Vora‘s</a> Profile</li>
            <li>12 min ago | You Viewed <a href="#">Bhavesh Vora‘s</a> Profile</li>
        </ul>
      </div> -->