<div class="entity container-fluid">
    <div class="row entity-list-section">
        <div class="clearfix">
            <div class="col-md-12 title-sec">
                <h3 class="pull-left">Entity</h3>
                <a href="#" class="pull-right create-entity btn btn-default btn-primary">Create Entity</a>
            </div>
        </div> 
        <ul class="entity-list">
            <li class="row list">
                <div class="col-md-3">
                    <span class="entity-icon"></span>
                    <a href="#" class="entity-name">Entity Name</a>
                </div>
                <div class="col-md-2">  
                    <span class="entity-role">Entity Role</span>
                </div>
                
                <div class="col-md-3 col-md-offset-4 edit-section text-right">  
                    <a href="#">Edit</a>
                    <a href="#">Extend</a>
                </div>
            </li>
            <li class="row list">
                <div class="col-md-3">
                    <span class="entity-icon"></span>
                    <a href="#" class="entity-name">Entity Name</a>
                </div>
                <div class="col-md-2">  
                    <span class="entity-role">Entity Role</span>
                </div>
                
                <div class="col-md-3 col-md-offset-4 edit-section text-right">  
                    <a href="#">Edit</a>
                    <a href="#">Extend</a>
                </div>
            </li>
            <li class="row list">
                <div class="col-md-3">
                    <span class="entity-icon"></span>
                    <a href="#" class="entity-name">Entity Name</a>
                </div>
                <div class="col-md-2">  
                    <span class="entity-role">Entity Role</span>
                </div>
                
                <div class="col-md-3 col-md-offset-4 edit-section text-right">  
                    <a href="#">Edit</a>
                    <a href="#">Extend</a>
                </div>
            </li>
            <li class="row list">
                <div class="col-md-3">
                    <span class="entity-icon"></span>
                    <a href="#" class="entity-name">Entity Name</a>
                </div>
                <div class="col-md-2">  
                    <span class="entity-role">Entity Role</span>
                </div>
                
                <div class="col-md-3 col-md-offset-4 edit-section text-right">  
                    <a href="#">Edit</a>
                    <a href="#">Extend</a>
                </div>
            </li>
            <li class="row list">
                <div class="col-md-3">
                    <span class="entity-icon"></span>
                    <a href="#" class="entity-name">Entity Name</a>
                </div>
                <div class="col-md-2">  
                    <span class="entity-role">Entity Role</span>
                </div>
                
                <div class="col-md-3 col-md-offset-4 edit-section text-right">  
                    <a href="#">Edit</a>
                    <a href="#">Extend</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="main-tab">
        <div class="tab-section">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Entity</a></li>
            <li><a href="#">Pocket</a></li>
            <li><a href="#">Reach</a></li>
            <li><a href="#">Identity</a></li>
        </ul>
            
        <div class="tab-content add-entity">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-md-2 control-label">Country</label>
                <div class="col-md-10">
                  <div class="dropdown" dropdown="" is-open="isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Select Country <span class="glyphicon glyphicon-menu-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-md-2 control-label">Type</label>
                <div class="col-md-2">
                  <div class="dropdown" dropdown="" is-open="isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Alias <span class="glyphicon glyphicon-menu-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
                <label for="inputEmail3" class="col-md-2 control-label">Tax</label>
                <div class="col-md-2">
                  <div class="dropdown" dropdown="" is-open="isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Select <span class="glyphicon glyphicon-menu-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-md-2 control-label">index</label>
                <div class="col-md-10">
                  <div class="dropdown" dropdown="" is-open="isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Select Country <span class="glyphicon glyphicon-menu-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                  <div class="dropdown" dropdown="" is-open="isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Select Country <span class="glyphicon glyphicon-menu-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                  <div class="dropdown" dropdown="" is-open="isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Select Country <span class="glyphicon glyphicon-menu-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <textarea ui-tinymce="{}" ng-model="tinymceModel" class="form-control" id="inputPassword3" placeholder="Add Description"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Profile Pic</label>
                <div class="col-md-10">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Browse">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="button">Browse</button>
                      </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Cover Pic</label>
                <div class="col-md-10">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Browse">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="button">Browse</button>
                      </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-md-2 control-label">Web</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="www.abc.com">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-md-2 control-label">Captcha</label>
                <div class="col-md-4">
                    Captcha code
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="Enter captcha">
                </div>
                <div class="col-md-2 text-right">
                  <button class="btn btn-default btn-primary full-width" type="button">Verify</button>
                </div>
              </div>
              
            </form>
        </div>
        
        <div class="tab-content pocket">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label"><i class="fa fa-get-pocket"></i> Pockets</label>
                    <div class="col-md-10">
                        <textarea ui-tinymce="{}" ng-model="tinymceModel" class="form-control" id="inputPassword3" placeholder="Add Description"></textarea>
                    </div>
              </div>
            </form>
        </div>
            
        <div class="tab-content reach">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label"><i class="fa fa-map-marker"></i> Reach</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="">
                    </div>
              </div>
            </form>
        </div>
        <div class="tab-content identity">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label"><i class="fa fa-share-square-o"></i> Identity</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Facebook">
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Linkedin">
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Twitter">
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Google +">
                    </div>
              </div>
            </form>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group clearfix common-bottom">
                    <div class="col-md-offset-2 col-md-8 text-right">
                    <div class="dropdown" dropdown="" is-open="isopen">
                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Select Country <span class="glyphicon glyphicon-menu-down"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-2 text-right">
                      <button type="submit" class="btn btn-default btn-primary full-width">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</div>

