<div class="extention container-fluid">
    <div class="row profile-entity-list">
        <div class="col-md-2">
            <div class="profile-image">
                <img src="app/images/bhavesh-vora.jpg" alt="placeholder" data-pin-nopin="true">
            </div>
        </div>
        <div class="col-md-10">
            <ul class="created-entity clearfix">
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
                <li class="entity-box">
                    <i class="fa fa-building"></i>
                    <span>Entity Name</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row margin-bottom-15">
        <div class="col-md-12">
            <button class="btn btn-default btn-primary align"><i class="fa fa-pencil"></i> Update</button>
        </div>
    </div>
    
    <div class="row extention-card">
        <div class="form-group clearfix">
            <div class="col-md-1 col-md-offset-11 text-right">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </div>  
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Name</label>
            <div class="col-md-10">Entity Name</div>
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Country</label>
            <div class="col-md-10">India</div>
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Role</label>
            <div class="col-md-10">Intexxxxx</div>
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Index</label>
            <div class="col-md-10">Advisory</div>
            <div class="col-md-10 col-md-offset-2">Reg Inv Advisory</div>
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Regulator</label>
            <div class="col-md-10">SEBI</div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2">Regn ID</label>
            <div class="col-md-10">INBFP234345124</div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2">Regg on</label>
            <div class="col-md-10">mm/dd/yyyy</div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2">valid upto</label>
            <div class="col-md-10">mm/dd/yyyy</div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2">Status</label>
            <div class="col-md-10">Active</div>
        </div>
    </div>
    
    <div class="row extention-card">
        <div class="form-group clearfix">
            <div class="col-md-1 col-md-offset-11 text-right">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </div>
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Name</label>
            <div class="col-md-10">Entity Name</div>
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Country</label>
            <div class="col-md-10">India</div>
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Role</label>
            <div class="col-md-10">Intexxxxx</div>
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Index</label>
            <div class="col-md-10">Advisory</div>
            <div class="col-md-10 col-md-offset-2">Reg Inv Advisory</div>
        </div>
        
        <div class="form-group clearfix">
            <label class="col-md-2">Regulator</label>
            <div class="col-md-10">SEBI</div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2">Regn ID</label>
            <div class="col-md-10">INBFP234345124</div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2">Regg on</label>
            <div class="col-md-10">mm/dd/yyyy</div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2">valid upto</label>
            <div class="col-md-10">mm/dd/yyyy</div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2">Status</label>
            <div class="col-md-10">Active</div>
        </div>
    </div>
    
    <div class="row">
        <div class="extention-form">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label">Country</label>
            <div class="col-md-10">
              <div class="dropdown" dropdown="" is-open="isopen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Select Country <span class="glyphicon glyphicon-menu-down"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="inputPassword3" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label">Regulator</label>
            <div class="col-md-2">
              <div class="dropdown" dropdown="" is-open="isopen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">SEBI <span class="glyphicon glyphicon-menu-down"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label">Role</label>
            <div class="col-md-2">
              <div class="dropdown" dropdown="" is-open="isopen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Intermediary <span class="glyphicon glyphicon-menu-down"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label">index</label>
            <div class="col-md-10">
              <div class="dropdown" dropdown="" is-open="isopen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Category <span class="glyphicon glyphicon-menu-down"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <div class="dropdown" dropdown="" is-open="isopen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Sub Category <span class="glyphicon glyphicon-menu-down"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-md-2 control-label">Regn ID</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="inputPassword3" placeholder="">
            </div>
          </div>
            
          <div class="form-group">
            <label for="inputPassword3" class="col-md-2 control-label">Regn on</label>
            <div class="col-md-4">
              <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-primary" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                  </span>
                </p>
            </div>
            <label for="inputPassword3" class="col-md-2 control-label">Valid upto</label>
            <div class="col-md-4">
              <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-primary" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                  </span>
                </p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-md-2 control-label">Status</label>
            <div class="col-md-10">
              <div class="dropdown" dropdown="" is-open="isopen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Active <span class="glyphicon glyphicon-menu-down"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Proof</label>
            <div class="col-md-10">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Browse">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-primary" type="button">Browse</button>
                  </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-md-2 control-label">Captcha</label>
            <div class="col-md-4">
                Captcha code
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" id="inputPassword3" placeholder="Enter captcha">
            </div>
            <div class="col-md-2 text-right">
              <button class="btn btn-default btn-primary full-width" type="button">Verify</button>
            </div>
          </div>
          <div class="form-group">  
            <label class="col-md-4 col-md-offset-2 control-label"><input type="checkbox" class="" placeholder=""> I agree to terms &amp; condations</label>
            <div class="col-md-6">
              <button class="btn btn-default btn-primary" type="button">read</button>
            </div>
          </div>
          <div class="form-group bottom-section">
              <div class="col-md-offset-2 col-md-8 text-right">
                    <div class="dropdown" dropdown="" is-open="isopen">
                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">Select Country <span class="glyphicon glyphicon-menu-down"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-2 text-right">
                      <button type="submit" class="btn btn-default btn-primary full-width">Post</button>
                    </div>
          </div>
        </form>
    </div>
    </div>
</div>

