<div class="catalog-sec">
    <ul class="top-controll">
        <li><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></li>
        <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></li>
        <li class="search-feed ">
            <input type="text" class="form-control" placeholder="Search">
        </li>
    </ul>
    
    <div class="profile-results row">
        <div class="col-lg-6">
            <div style="height:190px; background: #ddd;"></div>
        </div>
        <div class="col-lg-6">
            <div style="height:90px; background: #ddd; margin-bottom:10px;"></div>
            <div style="height:90px; background: #ddd;"></div>
        </div>
    </div>  
    <h2>FEEDS</h2>
    <div class="product-result">
        <div class="row">
        <div class="col-lg-4">
            <div class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status active">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status silent">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status avg">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4">
            <div class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status active">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status silent">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status avg">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    <h2>POCKETS</h2>
    <div class="product-result">
        <div class="row">
        <div class="col-lg-4">
            <div class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status active">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status silent">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status avg">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4">
            <div class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status active">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status silent">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status avg">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    <h2>PUBLISHERS</h2>
    <div class="product-result">
        <div class="row">
        <div class="col-lg-4">
            <div class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status active">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status silent">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status avg">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4">
            <div class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status active">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status silent">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div  class="feeb-box">
                <h5>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> <span>Feed Name</span>
                </h5>
                
                <div class="status avg">
                    <span class="circle"></span>
                    <span class="status-span">Active</span>
                </div>
                <div class="track">
                    <span>2 Mths - Rare</span>
                    <button type="button" class="btn btn-primary btn-sm">UNTRACK</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    
</div>